/* Style général */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: Arial, sans-serif;
    color: #333;
    background-color: #006e99;
    display: flex;
    flex-direction: column;
}

/* En-tête */
.en-tete {
    background-color: #ffffff;
    color: #000000;
    padding: 10px;
    text-align: center;
    position: relative;
    box-shadow: 0px 10px 10px #00000065;
}

#logo {
    height: 120px;
    float: left;
}

.en-tete h1 {
    margin: 0;
    font-family: Romain;
    font-weight: bold;
    font-size: 64px;
    line-height: 45px;
}

.en-tete a img {
    height: 28px;
    vertical-align: middle;
}


#titre {
    color: #010166;
    font-weight: bold;
    margin-bottom: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 28px;
}

.signature {
    font-style: italic;
    font-size: 0.7em;
}

@media screen and (max-width: 600px) {
    .en-tete h1 {
        font-size: 46px;
        line-height: 30px;
    }

    #sous-titre {
        font-weight: normal;
        margin-bottom: 10px;
        margin-top: 10px;
        font-size: 14px;
    }

    #image2 {
        display: none;
    }
}


#bouton-infos {
    text-decoration: underline;
    cursor: pointer;
    padding-right: 30px;
    background-image: url(images/more.svg);
    background-position: right;
    background-size: 20px;
    background-repeat: no-repeat;
}

#bouton-proposer {
    text-decoration: underline;
    cursor: pointer;
    margin-left: 15px;
}


#bouton-infos:hover {
    font-weight: bold;
}

#bouton-infos.visible {
    background-image: url(images/more_deplie.svg);
}

#texte-chapeau {
    max-height: 0px;
    overflow-y: hidden;
    width: fit-content;
    margin: auto;
    margin-top: 0px;
    transition: all 0.5s ease;
}

#texte-chapeau p {
    margin-top: 5px;
    text-align: center;
}

#texte-chapeau.visible {
    max-height: 400px;
    margin-top: 10px;
}

.en-tete p {
    clear: both;
    text-align: left;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 18px;
    line-height: 24px;
}

#chapeau a {
    font-weight: bold;
}

#chapeau a:hover, #chapeau a:visited {
    color: #000000;
}

#cartouche-chapeau {
    background-color: #ffffffd2;
    color: #000000;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    border: 3px #000000 solid;
    line-height: 2em;
}

#cartouche-chapeau .cartouche {
    background-color: #3dd2ec;
    padding: 3px 7px;
    border-radius: 10px;
    border: 1px #000000 solid;
    color: #000000;
    font-weight: bold;
}

#liens a {
    display: inline-block;
    background-color: #e6e7b3;
    padding: 3px 7px;
    border-radius: 10px;
    border: 1px #b9c576 solid;
    color: #000000;
    font-weight: bold;
    text-decoration: none;
}

#liens a:hover {
    display: inline-block;
    background-color: #f3ffac;
}

.navigation ul {
    list-style: none;
    padding: 0;
}

.navigation li {
    display: inline;
    margin: 0 10px;
}

.navigation a {
    color: #000000;
    text-decoration: none;
}

.navigation a:hover {
    text-decoration: underline;
}

/* Conteneur central */
.conteneur-central {
    padding: 10px 20px;
    width: 100%;
    margin: 0 auto;
    flex: 1; /* Prend l'espace restant entre l'en-tête et le pied de page */
    text-align: center;
    background-image: url(images/fond.jpg);
}

.conteneur-central h2 {
    color: #4CAF50;
}




/* Case ressource */

.case-ressource {
    display: inline-block;
    width: 300px;
    max-width: calc(100% - 14px);
    border: 2px #000000 solid;
    border-radius: 15px;
    background-color: #ffffff;
    padding: 5px;
    margin: 10px;
    text-align: center;
}

.type-ressource {
    font-size: 16px;
    width: fit-content;
    background-color: #dce4dc;
    margin: auto;
    padding: 5px;
    border-radius: 8px;
}

.titre-ressource {
    font-size: 24px;
}

.image-ressource {
    width: calc(100% - 14px);
    height: 150px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#boutons-ressource {
    height: fit-content;
}

.boutons-ressource {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 10px;
}

a.bouton-ressource {
    margin: 5px;
    background-color: #3dd2ec;
    padding: 7px;
    border-radius: 10px;
    text-decoration: none;
    max-width: 100%;
    box-sizing: border-box;
    color: #000000;
    transition: all 0.2s linear;
    border: 1px solid #000000;
    box-shadow: 0px 0px 3px #000000;
}

a.bouton-ressource:hover {
    transform: scale(1.2);
}

.utiliser {
    font-size: 24px;
    background-color: #3dd2ec !important;
}

.utiliser:hover {
    background-color: #3dd2ec !important;
}

.explorer {
    font-size: 12px;
}

.ticket {
    font-size: 12px;
}

.description-ressource {
    margin: 10px 0;
    min-height: 3.5em;
}


/* Pied de page */
.pied-de-page {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
}

.pied-de-page a {
    color: #fff;
}


/* Panneau */

#panneau {
    position: fixed;
    height: 100%;
    width: 400px;
    background-color: #ffffffd5;
    border-right: 3px solid #ffffff;
}

#input-recherche {
    width: 500px;
    max-width: calc(100% - 25vw);
    font-size: 24px;
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 2px solid #775c5c;
    text-align: center;
}

#categories {
    margin-bottom: 10px;
    line-height: 36px;    
}

#categories > button {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    padding: 0.2em 0.5em;
    margin-right: 0.5em;
    border: 1px solid #000000; /* Pas de bordure */
    outline: none; /* Pas de contour */
    border-radius: 8px; /* Coins arrondis */
    background-color: #ffffff;
    color: #333; /* Couleur de texte sombre */
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.404);
    cursor: pointer; /* Curseur en main au survol */
    transition: all 0.3s ease; /* Transition fluide */
}

/* Effet au survol */
#categories > button:hover {
    background-color: #d5e9fc;
    transform: scale(1.1)
}


/* État actif */
#categories > button.actif {
    background-color: #3dd2ec;
}

/* Supprime la marge droite pour le dernier bouton */
#categories > button:last-child {
    margin-right: 0;
}


.cartouche {
    margin-left: 10px;
    margin-right: 10px;
}

.hide {
    display: none !important;
}

.categorieNonActive {
    display: none !important;
}


.warning {
    background-color: #ffcc00; /* Couleur de fond jaune */
    color: #000 !important; /* Texte noir pour contraster */
    padding: 10px; /* Espacement interne */
    border: 2px solid #ff9900; /* Bordure orange */
    border-radius: 5px; /* Coins arrondis */
    font-weight: bold; /* Texte en gras */
    text-align: center; /* Centrer le texte */
    animation: flash 1s infinite; /* Animation de clignotement */
}

/* PRIMTUX */

.divInfos {
    padding: 10px;
    background-color: #ffffff;
    border: 3px solid #000000;
    border-radius: 15px;
}

.gauche {
    float: left;
    height: 100px;
    margin-right: 15px;
}

.droite {
    float: right;
    height: 100px;
    margin-left: 15px;
}

section {
    text-align: left;
}

.presentation, .features {
    border-radius: 8px;
}

.presentation h2, .features h2 {
    font-size: 1.8em;
    color: #264653;
}

.presentation p {
    font-size: 20px;
    margin-bottom: 0.5em;
}

p.center {
    text-align: center;
}

.presentation p a {
    color: #000000;
}


/* Responsive Design */
@media (max-width: 768px) {
    
    header p, .presentation h2, .features h2 {
        font-size: 1.2em;
    }

    .features h3 {
        font-size: 1.2em;
    }
}

/* Animation de clignotement */
@keyframes flash {
    0% { opacity: 1; }
    50% { opacity: 0.7; }
    100% { opacity: 1; }
}
